/* Fonts */

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/OpenSans-Light.eot) format("eot"),
    url(../fonts/OpenSans-Light.woff2) format("woff2"),
    url(../fonts/OpenSans-Light.woff) format("woff"),
    url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/OpenSans-Regular.eot) format("eot"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(../fonts/Gilroy-Light.eot) format("eot"),
    url(../fonts/Gilroy-Light.woff2) format("woff2"),
    url(../fonts/Gilroy-Light.woff) format("woff"),
    url(../fonts/Gilroy-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(../fonts/Gilroy-Extrabold.eot) format("eot"),
    url(../fonts/Gilroy-Extrabold.woff2) format("woff2"),
    url(../fonts/Gilroy-Extrabold.woff) format("woff"),
    url(../fonts/Gilroy-Extrabold.ttf) format("truetype");
  font-weight: 800;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;

  --special-pink-light: #f6dada;
}

/* Global */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: var(--basic-black);
}

h2 {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
}

/* Header */

.main-header {
  background-color: var(--special-yellow-light);
}

.main-header-nav {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

.main-header-nav ul {
  list-style: none;
}

/* main-logo */

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

/* search-form */

.search-form-container {
  width: 440px;
  position: relative;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form::before {
  content: "";
  background: no-repeat url(../img/icon_search.svg);
  width: 16px;
  height: 16px;
  margin-right: 22px;
}

.search-form__input {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 300;
  margin-right: auto;
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  background: none;
  border: 2px solid var(--basic-black);
  padding: 15px 17px;
  text-transform: uppercase;
  visibility: hidden;
}

.search-form__button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-form__button:focus {
  background-color: var(--basic-black);
  color: rgba(255, 255, 255, 0.7);
}

.search-form__underline {
  position: absolute;
  height: 2px;
  background-color: var(--basic-black);
  width: 100%;
  bottom: 0;
  visibility: hidden;
}

.search-form__input:focus~.search-form__button,
.search-form__input:focus~.search-form__underline {
  visibility: visible;
}

/* user-action */
.user-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-action__link {
   text-decoration: none;
   color: var(--basic-black);
   display: inline-flex;
   align-items: center;
}

.user-action__link:hover {
  opacity: 0.6;
}

.user-action__link:active {
  opacity: 0.3;
}

.user-action__sign-in {
  margin-right: auto;
}

.user-action__compare {
  margin-right: 40px;
}

.user-action__sign-in::before {
  content: "";
  background: no-repeat url(../img/icon_user.svg);
  width: 13px;
  height: 14px;
  margin-right: 11px;
}

.user-action__compare::before {
  content: "";
  background: no-repeat url(../img/icon_chart.svg);
  width: 14px;
  height: 14px;
  margin-right: 12px;
}

.user-action__cart::before {
  content: "";
  background: no-repeat url(../img/icon_cart.svg);
  width: 10px;
  height: 10px;
  margin-right: 12px;
}

