/*Fonts*/

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/OpenSans-Light.eot) format("eot"),
    url(../fonts/OpenSans-Light.woff2) format("woff2"),
    url(../fonts/OpenSans-Light.woff) format("woff"),
    url(../fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/OpenSans-Regular.eot) format("eot"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(../fonts/Gilroy-Light.eot) format("eot"),
    url(../fonts/Gilroy-Light.woff2) format("woff2"),
    url(../fonts/Gilroy-Light.woff) format("woff"),
    url(../fonts/Gilroy-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url(../fonts/Gilroy-Extrabold.eot) format("eot"),
    url(../fonts/Gilroy-Extrabold.woff2) format("woff2"),
    url(../fonts/Gilroy-Extrabold.woff) format("woff"),
    url(../fonts/Gilroy-Extrabold.ttf) format("truetype");
  font-weight: 800;
}
